{% extends 'base.html' %}
{% block content %}
<ul role="list" class="divide-y divide-gray-100">
    <li class="flex justify-between gap-x-6 py-5">
        <a href="#">
            <div class="flex min-w-0 gap-x-4">
                <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                     src="{{ url_for ('static', path='img/free-icon-seo-6029659.png') }}"
                     alt="">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Анализ ТОП10 по запросу</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">Выгрузка: url, title, description, h1,
                        popular words</p>
                    <form action="/instruments/parsing_top10_meta" method="POST">
                        <input type="text" placeholder="Введите запрос" name="query" style="border: 0.5px solid; border-radius: 4px; margin: 5px; padding-left: 5px; width: 315px;">
                        <br>
                        <button type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer; width: 70px;">Go</button>
                    </form>
                </div>
            </div>
        </a>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Стоимость: <span style="color: green">Бесплатно</span></p>
            <p class="mt-1 text-xs leading-5 text-gray-500">Скорость анализа: ~5 мин</p>
        </div>
    </li>
    <li class="flex justify-between gap-x-6 py-5">
        <a href="#">
            <div class="flex min-w-0 gap-x-4">
                <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                     src="{{ url_for ('static', path='img/free-icon-seo-1055645.png') }}"
                     alt="">
                <div class="min-w-0 flex-auto">
                    <p class="text-sm font-semibold leading-6 text-gray-900">Выгрузка n-грамм из текста</p>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">Выгрузка: popular words, bigramms,
                        trigramms</p>
                    <form action="/instruments/lemmatize_text" method="POST">
                        <input type="text" placeholder="Введите url" name="urlinput" style="border: 0.5px solid; border-radius: 4px; margin: 5px; padding-left: 5px; width: 315px;">
                        <br>
                        <textarea name="textinput" rows="5" cols="40" style="border: 0.5px solid; border-radius: 4px; margin: 5px; padding-left: 5px"></textarea>
                        <br>
                        <button type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer; width: 70px;">Go</button>
                    </form>
                </div>
            </div>
        </a>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Стоимость: <span style="color: green">Бесплатно</span></p>
            <p class="mt-1 text-xs leading-5 text-gray-500">Скорость анализа: ~5 мин</p>
        </div>

    </li>
</ul>
{% endblock %}
{% block script %}
         const toggleButtons = document.querySelectorAll('.h-12.w-12.flex-none.rounded-full.bg-gray-50');
    const forms = document.querySelectorAll('form');

    toggleButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            forms[index].classList.toggle('hidden');
        });
    });
{% endblock %}